<div>Hi {{userFirstName}},</div>
<p>The following task assigned to you has been updated by {{assignedBy}}. Please review the changes below:</p>
<ul>
    <li>
        <strong>Work Title:</strong>
        {{clientWorkObj.work_name}}
    </li>
    <li>
        <strong>Client:</strong>
        {{clientWorkObj.client.client_name}}
    </li>
    <li>
        <strong>Updated Work Description:</strong>
        {{clientWorkObj.work_description}}
    </li>
    <li>
        <strong>Proposal Date:</strong>
        {{clientWorkObj.proposal_date}}
    </li>
    <li>
        <strong>Work Started:</strong>
        {{clientWorkObj.work_started_at}}
    </li>
    <li>
        <strong>Due Date:</strong>
        {{clientWorkObj.due_date}}
    </li>
    <li>
        <strong>Current Status:</strong>
        {{clientWorkObj.status}}
    </li>
</ul>
<p>If you have any questions regarding these updates, feel free to reach out.</p>
<p>Thanks,</p>